<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class='col-2'>
    <a class="navbar-brand" href="#">Portal XPTO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

    <div class="collapse navbar-collapse col-10" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      </form>
    </div>
  </nav>

 <app-list-aplicacao [data]="aplicacoes"></app-list-aplicacao>